

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <title>Web hosting demo</title>
  </head>
  <body>
	<div class='container'>
	  <h3>Web hosting demo</h3>
	  <br/>
	  <p>hello,<%= name %></p>
	  <br/>
	  <div>
		<form action="/" method="post">
		  Say hello to: <input type='text' name='name' id='name'/>
		  <input type='submit' value='Say'/>
		</form>
	  </div>
	</div>
  </body>
</html>
